---
import MyPhoto from "@/assets/images/me-avatar.webp";
import { Image } from "astro:assets";
import type { Language } from "@/i18n/lang";
import { useTranslations } from "@/i18n/utils";

interface Props {
  lang: Language;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const content = t("hero") as Record<string, string>;
---

<section class="hero-section hero w-full min-h-[70vh]">
  <div class="hero-content p-0 flex-col md:flex-row-reverse">
    <div class="avatar flex justify-center max-md:my-8">
      <div class="w-[60%] sm:w-[40%] md:w-[80%] ring-neutral ring-4 rotate-3">
        <Image src={MyPhoto} alt="RepolloDev image" />
      </div>
    </div>
    <div class="content min-w-[50%]">
      <h1 class="flex flex-col font-bold text-3xl md:text-4xl lg:text-5xl mb-4">
        <span class="text-base font-normal">
          {content.greeting}
        </span>
        <span>
          {content.title}
        </span>
      </h1>
      <p class="resume sm:text-lg lg:text-xl" set:html={content.description} />
      <nav class="mt-8 flex gap-4">
        <a
          href="mailto:miduga@gmail.com"
          class="btn max-sm:btn-sm btn-neutral text-base"
        >
          <i class="iconify ph--mailbox-duotone w-6 h-6 inline-block"></i>
          <span set:html={content["btn.contact"]} />
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/repollodev/"
          class="btn max-sm:btn-sm btn-info text-white text-base"
        >
          <i class="iconify ph--linkedin-logo-duotone w-6 h-6 inline-block"></i>
          <span>LinkedIn</span>
        </a>
      </nav>
    </div>
  </div>
</section>
